- u 10

In [2]:
inc = int(input())
t = tuple(range(-10, 10 ,inc))
print(t)

(-10, -7, -4, -1, 2, 5, 8)

- u 11

In [3]:
x = input().split()
del x[-5:]          # del x[len(x)-5:]
print(tuple(x))

('1', '2', '3', '4', '5')

In [5]:
first = input()
second = input()
print(first[1::2] + second[::2])

elwrd

- u 12

In [7]:
keys = input().split()
values = list(map(float, input().split()))
d = dict(zip(keys, values))
print(d)

{'a': 3.1, 'b': 2.3, 'c': 4.5, 'd': 9.1}

In [8]:
list(zip(keys, values))

[('a', 3.1), ('b', 2.3), ('c', 4.5), ('d', 9.1)]

- u 13

In [6]:
price = int(input())
coupon = input()
if coupon == 'Cash3000':
    price -= 3000
if coupon == 'Cash5000':
    price -= 5000
print(price)

24000

- u 14

In [9]:
kor, eng, mat, sci = map(int, input().split())
if (0<=kor<=100) and (0<=eng<=100) and (0<=mat<=100) and (0<=sci<=100):
    avg = (kor + eng + mat + sci) / 4
    if avg >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

잘못된 점수

- u 15

In [10]:
balance = 9000
age = int(input())

if 7 <= age <= 12:
    fare = 650
elif 13 <= age <= 18:
    fare = 1050
elif age >= 19:
    fare = 1250
else:
    fare = 0
balance -= fare
print(f'{age}살의 요금은 {fare:,d}원이고, 잔액은 {balance:,d}원입니다.')

20살의 요금은 1,250원이고, 잔액은 7,750원입니다.

- u 16

In [11]:
n = int(input())
for i in range(1, 10):
    print(f'{n} * {i} = {n*i}')

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

- u 20

In [9]:
num = 15
if num % 35 == 0:
    print(num, 'FizzBuzz')
elif num % 5 == 0:
    print(num, 'Fizz')
elif num % 7 == 0:
    print(num, 'Buzz')
else:
    print(num)

15 Fizz

In [10]:
'Fizz' * (num % 5 == 0) + 'Buzz' * (num % 7 == 0) or num

'Fizz'

In [ ]:
a, b = map(int, input().split())
for i in range(a, b+1):
    print('Fizz'*(i%5==0) + 'Buzz'*(i%7==0))

- u 22

In [13]:
m, n = map(int, input().split())
if 1<=m<=20 and 10<=n<=30 and m<n:
    power_list = []
    for i in range(m, n+1):
        power_list.append(2 ** i)
    del power_list[1], power_list[-2]
    print(power_list)

[8, 32, 64, 128, 256, 1024]

- u 17

In [19]:
m = int(input())
a = 1350
while True:
    m -= a
    print(m)
    if m < 1350:
        break

8650
7300
5950
4600
3250
1900
550

- u 18

In [2]:
start, stop = map(int, input().split())
i = start
while True:
    if i > stop:
        break
    if i % 10 == 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

- u 19

In [29]:
a = int(input())
for i in range(a):
  for j in range(a-i-1):
    print(' ',end='')
  for j in range(2*i+1):
    print('*',end='')
  print()

    *
   ***
  *****
 *******
*********

- u 23

In [3]:
def print_mines(m):
    for row in m:
        for element in row:
            print(element, end=' ')
        print()

In [11]:
import random
row, col = map(int, input().split())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(col)] for _ in range(row)]
print_mines(mines)

* * . . . . . *
. . . . . * . .
. * * . . * . *
* . . . . * . .
. * * . . * . *
. . * * . * . .

In [10]:
pad_mines = [['.'] * (col + 2)]     # 맨 윗줄
for mine_row in mines:
    pad_row = ['.']                 # 맨 윗줄과 아랫줄을 제외한 줄
    pad_row.extend(mine_row)
    pad_row.append('.')
    pad_mines.append(pad_row)
pad_mines.append(['.'] *(col + 2))
print_mines(pad_mines)

. . . . . . . . . .
. . . . . . . . . .
. * * * . . * . . .
. . . . * . * . . .
. . * . . . . . . .
. . * * . * . . * .
. . . * * * * . * .
. . . . . . . . . .

In [12]:
final_mines = []
for i in range(1, row+1):
    line = []
    for k in range(1, col+1):
        if pad_mines[i][k] == '*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')                              + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

2 3 2 1 1 1 1 0
* * * 2 3 * 2 0
3 4 4 * 3 * 2 0
2 * 4 3 3 2 2 1
2 * * 5 * 3 3 *
1 3 * * * * 3 *

- u 24

In [13]:
text = """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, 
whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, 
and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career 
as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
Grown-ups never understand anything by themselves, and it is tiresome for children to be always and 
forever explaining things to the.
"""
text.count('the')

8

In [14]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()
    if word == 'the':
        count_the += 1
print(count_the)

6

- u 24

In [15]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [16]:
price_list.sort(reverse=True)
price_list

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [17]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

- u 25

In [19]:
# alpha bravo charlir delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
d = dict(zip(keys, values))
d

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [20]:
# 반복문에서 반복 대상이 되는 딕셔너리의 크기를 변경시키는 작업을 하면 에러 발생
# 하지만 데이터는 삭제됨
for key, value in d.items():
    if value == 30:
        del d[key]

RuntimeError: dictionary changed size during iteration

In [21]:
del_key = ''
for key, value in d.items():
    if value == 30:
        del_key=key
if del_key:
    del d[del_key]
d

{'alpha': 10, 'bravo': 20, 'delta': 40}

- u 26

In [22]:
# 약수의 집합
div_set = set()
x = 10
for i in range(1, x+1):
    if x % i == 0:
        div_set.add(i)
div_set

{1, 2, 5, 10}

In [23]:
div_set = { i for i in range(1, x+1) if x % i ==0}
div_set

{1, 2, 5, 10}

In [28]:
m, n = map(int, input().split())
m_set = {i for i in range(1, m+1) if m % i ==0}
n_set = {i for i in range(1, n+1) if n % i ==0}
print(m_set, n_set)

{1, 2, 3, 4, 6, 12} {1, 2, 4, 5, 10, 20}

In [29]:
common_divisors = m_set & n_set     # 교집합
common_divisors

{1, 2, 4}

In [30]:
sum(common_divisors)

7

- u 29

In [36]:
x, y = map(int, input().split())
def calc(a, b):
    return a + b, a - b, a * b, a / b
a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

- u 30

In [37]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):
    return sum(kwargs.values())/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

- u 32

In [38]:
files = input().split()
print(list(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files)))

['001.jpg', '010.png', '011.png', '002.pg', '003.png']

- 디지털 시계
    - 하루중 3이 표시되는 시간은 몇 초인가?

In [59]:
def clock(num):
    second = 0
    for hour in range(24):
        for minute in range(60):
            if str(num) in str(hour) + str(minute):
                second += 60
    return second

print(clock(3))

29700